<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>facelets.LIBRARIES</param-name>
        <param-value>/WEB-INF/facelets/tags/opbwebdemo.taglib.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>org.apache.myfaces.trinidad.ALTERNATE_VIEW_HANDLER</param-name>
        <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>
    
    <context-param>
        <param-name>org.apache.myfaces.trinidad.DISABLE_CONTENT_COMPRESSION</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    
    <filter>
        <filter-name>Trinidad Filter</filter-name>
        <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Trinidad Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    <filter>
        <filter-name>Opb Session Helper Filter</filter-name>
        <filter-class>com.butterfill.opb.web.filters.OpbSessionHelperFilter</filter-class>
    </filter>
    
    <!-- Add a mapping to make the OpbSession available to JSF pages -->
    <filter-mapping>
        <filter-name>Opb Session Helper Filter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    
    <!-- Add a mapping to make the OpbSession available to error pages -->
    <filter-mapping>
        <filter-name>Opb Session Helper Filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    
    <!--Use the Spring request listener so that we can:
          - inject Spring managed beans into JSF managed beans and
          - use Spring managed beans as backing beans.
        See also faces-config.xml (for EL resolver config) and applicationContext.xml.
    -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
    <listener>
        <description>Opb Session Listener</description>
        <listener-class>com.butterfill.opb.web.listeners.OpbSessionListener</listener-class>
    </listener>
    
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/adf/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/applicationContext.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Error Pages -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.jsp</location>
    </error-page> 
    
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>
