<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="contextDescription" class="java.lang.String">
        <constructor-arg value="Opb web demo"/>
    </bean>
    
    <bean id="contextName" class="java.lang.String">
        <constructor-arg value="opb-web-demo"/>
    </bean>
    
    <bean id="oracleDataSource" destroy-method="close" 
          class="oracle.jdbc.pool.OracleDataSource">
        <property name="URL" value="jdbc:oracle:thin:@//localhost:1521/xe"/>
        <property name="user" value="opb_web_demo"/>
        <property name="password" value="weak_pw"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="implicitCachingEnabled" value="true"/>
    </bean>
    
    <bean id="opbEventTimer" class="com.butterfill.opb.timing.OpbEventTimer"/>
    
    <bean id="opbContext" destroy-method="stopContext"
          class="com.butterfill.opb.plsql.context.OpbContextPlsqlImpl">
        <constructor-arg ref="contextName"/>
        <constructor-arg ref="oracleDataSource"/>
        <constructor-arg ref="opbEventTimer"/>
        <constructor-arg value="true"/>
    </bean>
    
    <bean id="opbSession" scope="prototype" init-method="createSession" 
          class="com.butterfill.opb.plsql.session.OpbSessionPlsqlImpl">
        <constructor-arg ref="contextName"/>
        <constructor-arg ref="oracleDataSource"/>
        <constructor-arg>
            <bean class="com.butterfill.opb.data.OpbDataObjectSource">
                <constructor-arg>
                    <bean class="com.butterfill.opb.OpbObjectSourceImpl"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.butterfill.opb.groups.OpbGroupManager"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.butterfill.opb.util.OpbScalarResultCache"/>
        </constructor-arg>
        <constructor-arg ref="opbEventTimer"/>
    </bean>
    
    <bean id="messageHelper" class="com.butterfill.opb.web.faces.OpbMessageHelper"/>
    
    <bean id="Template" class="com.butterfill.opb.webdemo.backing.Template" scope="request">
        <constructor-arg ref="messageHelper"/>
    </bean>
</beans>