<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="oracleDataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="URL" value="jdbc:oracle:thin:@//localhost:1521/xe"/>
        <property name="user" value="opb_jse_demo"/>
        <property name="password" value="weak_pw"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="implicitCachingEnabled" value="true"/>
    </bean>

    <bean id="opbSession" scope="prototype"
          class="com.butterfill.opb.plsql.session.OpbSessionPlsqlImpl">
        <constructor-arg>
            <bean class="com.butterfill.opb.plsql.data.OpbConnectionProviderPlsqlImpl"
                  destroy-method="releaseConnection">
                <constructor-arg ref="oracleDataSource"/>
            </bean>
        </constructor-arg>

        <constructor-arg>
            <bean class="com.butterfill.opb.data.OpbDataObjectSource">
                <constructor-arg>
                    <bean class="com.butterfill.opb.OpbObjectSourceImpl"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.butterfill.opb.util.OpbScalarResultCache"/>
        </constructor-arg>
    </bean>

</beans>